<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>send_html is the html file with flask</h1>
        <h2>{{name}}</h2>
        <img src="{{url_for('static',filename='images/Allu Arjun.JPG')}}" alt="" height="200px" width="200px">
        <h1>
            <a href="{{url_for('properties')}}">properties</a>
        </h1>
    </center>
</body>
</html>